<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.6" name="com.github.marschall.undertow.jfr">
  <resources>
    <resource-root path="${project.artifactId}-${project.version}.jar" />
  </resources>

  <dependencies>
    <module name="io.undertow.core" />
    <system>
      <paths>

        <!-- Module jdk.jfr -->

        <path name="jdk/jfr" />
        <path name="jdk/jfr/internal" />
        <path name="jdk/jfr/internal/handlers" />

      </paths>
    </system>
<!--
    <jigsaw-module name="jkr.jfr">
    <module name="jkr.jfr" />
-->
  </dependencies>
</module>
